:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;

  --font-family-main: 'Roboto', sans-serif;
  --font-family-accent: 'Forum', cursive;

  --font-size-1: 80px;
  --line-height-1: 90px;
  --letter-spacing-1: 5px;

  --font-size-2: 32px;
  --line-height-2: 35px;
  --letter-spacing-2: 5px;

  --font-size-3: 28px;
  --font-weight-3: 300;
  --line-height-3: 33px;
  --letter-spacing-3: 2px;

  --font-size-4: 22px;
  --font-weight-4: 100;
  --line-height-4: 50px;
  --letter-spacing-4: 2px;

  --font-size-5: 18px;
  --font-weight-5: 100;
  --line-height-5: 21px;

  --padding: 75px;
  --padding-2: 25px;

  --border-radius: 10px;

  --transition-duration: 0.3s;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-4);
}

h1,
h2,
h3 {
  font-family: var(--font-family-accent);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.dark-bg {
  background-color: var(--bg-dark);
  color: var(--white);
}

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 70px;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-3);
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url('assets/svg/logo.svg') no-repeat left top 8px;
  transition: all var(--transition-duration);
}

.logo:hover {
  cursor: pointer;
  filter: invert(55%) sepia(32%) saturate(383%) hue-rotate(356deg)
    brightness(93%) contrast(84%);
}

.menu {
  display: flex;
}

.menu-item {
  padding-right: var(--padding);
}
.menu-item:last-child {
  padding-right: 0;
}

.menu-link {
  color: var(--white);
  transition: color var(--transition-duration);
}

.menu-link:hover,
.menu-link:active {
  color: var(--font-gold);
}

.welcome-section {
  height: 750px;
  background-image: url('assets/img/background.jpg');
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) calc(100%);
}

.section-title {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
  text-transform: uppercase;
  padding-bottom: var(--padding-2);
}

.welcome-title {
  padding-top: 40px;
}

.section-subtitle {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
  padding-bottom: var(--padding);
}

.welcome-btn {
  padding: var(--padding-2) 70px;
  color: var(--white);
  background-color: var(--dark-red);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration);
}

.welcome-btn:hover {
  background-color: var(--font-gold);
}

.gold-title {
  color: var(--font-gold);
}

.underlined-title {
  position: relative;
}

.underlined-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}

.cards {
  display: flex;
  column-gap: 60px;
  flex-wrap: wrap;
}

.card {
  display: block;
  margin-top: var(--padding);
  color: var(--black);
  transition: all var(--transition-duration);
}

.card:hover {
  color: var(--font-gold);
}

.card:hover img {
  box-sizing: border-box;
  border: 1px solid var(--font-gold);
  transition: border var(--transition-duration);
}

.card:hover .card-title::after {
  background-color: var(--font-gold);
  transition: background-color var(--transition-duration);
}

.card-title {
  padding-top: 10px;
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
  text-transform: uppercase;
  position: relative;
}

.card-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70%;
  height: 3px;
  background-color: var(--dark-red);
}

.card-virtual {
  padding-top: 10px;
}

.card-panorama {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
  line-height: var(--line-height-5);
}

.explore-section {
  display: flex;
}

.wrapper {
  margin-right: 60px;
  line-height: 38px;
  letter-spacing: 0.5px;
}

.section-content-first {
  padding-top: var(--padding);
}

.section-content {
  padding-top: 30px;
}

.gold {
  color: var(--font-gold);
}
